corredores_rioja_homepage:
    path:     /portada
    defaults: { _controller: CorredoresRiojaBundle:Default:index }
    
show_carreras:
    path: /corredores/carreras
    defaults: { _controller: inmemory.carreraservicerepository:showAllAction }

show_carrera_slug:
    path: /corredores/carreras/{slug}
    defaults: { _controller: inmemory.carreraservicerepository:showCarreraSlugAction }

show_organizacion_slug:
    path: /corredores/organizacion/{slug}
    defaults: { _controller: inmemory.organizacionservicerepository:showOrganizacionSlugAction }
