corredores_rioja_homepage:
    path:     /portada
    defaults: { _controller: CorredoresRiojaBundle:Default:index }
    
show_carreras:
    path: /corredores/carreras
    defaults: { _controller: inmemory.carreraservicerepository:showAllAction }

show_carrera_slug:
    path: /corredores/carreras/{slug}
    defaults: { _controller: inmemory.carreraservicerepository:showCarreraSlugAction }

show_organizacion_slug:
    path: /corredores/organizacion/{slug}
    defaults: { _controller: inmemory.organizacionservicerepository:showOrganizacionSlugAction }

registro:
    path:     /corredores/registro
    defaults: { _controller: CorredoresRiojaBundle:Default:registro }
    
admin:
    path:     /admin
    defaults: { _controller: CorredoresRiojaBundle:Default:admin }

usuario_login:
    path: /corredores/login
    defaults: { _controller: CorredoresRiojaBundle:Default:login }
usuario_login_check:
    path: /corredores/login_check
usuario_logout:
    path: /corredores/logout
    
