corredores_rioja_homepage2:
    path:     /{_locale}/
    defaults: { _controller: CorredoresRiojaBundle:Default:index }
    requirements:
       _locale: en|es
    

corredores_rioja_homepage:
    locales: {es: "/{_locale}/portada", en: "/{_locale}/homepage" }
    defaults: { _controller: CorredoresRiojaBundle:Default:index }
    requirements:
       _locale: en|es
    
show_carreras:
    locales: {es: "/{_locale}/corredores/carreras", en: "/{_locale}/runners/races"}
    defaults: { _controller: inmemory.carreraservicerepository:showAllAction }
    requirements:
       _locale: en|es

show_carrera_slug:
    locales: {es: "/{_locale}/corredores/carreras/{slug}", en: "/{_locale}/runners/races/{slug}"}
    defaults: { _controller: inmemory.carreraservicerepository:showCarreraSlugAction }
    requirements:
       _locale: en|es

show_organizacion_slug:
    locales: {es: "/{_locale}/corredores/organizacion/{slug}",en: "/{_locale}/runners/organization/{slug}"}
    defaults: { _controller: inmemory.organizacionservicerepository:showOrganizacionSlugAction }
    requirements:
       _locale: en|es

registro:
    locales:  {es: "/{_locale}/corredores/registro", en: "/{_locale}/runners/register"}
    defaults: { _controller: CorredoresRiojaBundle:Default:registro }
    requirements:
       _locale: en|es
    
perfil:
    locales:     {es: "/{_locale}/corredores/perfil", en: "/{_locale}/runners/profile"}
    defaults: { _controller: CorredoresRiojaBundle:Default:cambiarCorredor }
    requirements:
       _locale: en|es
    
apuntar_carrera:
    locales:    {es: "/{_locale}/corredores/inscribir/{slug}", en: "/{_locale}/runners/signup/{slug}"}
    defaults: { _controller: inmemory.corredoresservicerepository:apuntarCarreraAction }
    requirements:
       _locale: en|es
    

desapuntar_carrera:
    locales:     {es: "/{_locale}/corredores/desapuntar/{slug}", en: "/{_locale}/runners/disappoint/{slug}"}
    defaults: { _controller: inmemory.corredoresservicerepository:desapuntarCarreraAction }
    requirements:
       _locale: en|es
    
admin:
    locales:     {es: "/{_locale}/admin", en: "/{_locale}/admin"}
    defaults: { _controller: CorredoresRiojaBundle:Default:admin }
    requirements:
       _locale: en|es

usuario_login:
    locales: {es: "/{_locale}/corredores/login", en: "/{_locale}/runners/login"}
    defaults: { _controller: CorredoresRiojaBundle:Default:login }
    requirements:
       _locale: en|es
       
usuario_login_check:
    locales: {es: "/{_locale}/corredores/login_check", en: "/{_locale}/runners/login_check"}
    requirements:
       _locale: en|es
       
usuario_logout:
    locales: {es: "/{_locale}/corredores/logout", en: "/{_locale}/runners/logout"}
    requirements:
       _locale: en|es
       
show_mis_carreras:
    locales: {es: "/{_locale}/corredores/miscarreras", en: "/{_locale}/runners/myraces"}
    defaults: { _controller: inmemory.corredoresservicerepository:showCarrerasCorredorAction }
    requirements:
       _locale: en|es
   
organizaciones:
    locales: {es: "/{_locale}/organizaciones", en: "/{_locale}/organizations"}
    defaults: { _controller: inmemory.organizacionservicerepository:showCarrerasOrganizacionAction }
    requirements:
       _locale: en|es
       
organizacion_login:
    locales: {es: "/{_locale}/organizaciones/login", en: "/{_locale}/organizations/login"}
    defaults: { _controller: CorredoresRiojaBundle:Default:loginOrganizacion }
    requirements:
       _locale: en|es
organizacion_login_check:
    locales: {es: "/{_locale}/organizaciones/login_check", en: "/{_locale}/organizations/login_check"}
    requirements:
       _locale: en|es
       
organizacion_logout:
    locales: {es: "/{_locale}/organizaciones/logout", en: "/{_locale}/organizations/logout"}
    requirements:
       _locale: en|es
       
modificar_carrera:
    locales: {es: "/{_locale}/organizaciones/modificar_carreras/{slug}", en: "/{_locale}/organizations/modify_races/{slug}"}
    defaults: { _controller: inmemory.carreraservicerepository:modificarCarreraAction }
    requirements:
       _locale: en|es
       
registro_organizacion:
    locales: {es: "/{_locale}/organizaciones/registro", en: "/{_locale}/organizations/register"}
    defaults: { _controller: CorredoresRiojaBundle:Default:registroOrganizacion }
    requirements:
       _locale: en|es
       
modificar_organizacion:
    locales: {es: "/{_locale}/organizaciones/perfil", en: "/{_locale}/organizations/profile"}
    defaults: { _controller: CorredoresRiojaBundle:Default:modificarOrganizacion }
    requirements:
       _locale: en|es
