#services:
#    corredores_rioja.example:
#        class: CorredoresRiojaBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]

services:
    carrerarepository:
        alias: carrerarepository.inmemory
    carrerarepository.inmemory:
        class: App\CorredoresRiojaInfrastructure\InMemoryRepository\InMemoryCarreraRepository
        public: false
    participanterepository:
        alias: participanterepository.inmemory
    participanterepository.inmemory:
        class: App\CorredoresRiojaInfrastructure\InMemoryRepository\InMemoryParticipanteRepository
        public: false
    inmemory.carreraservicerepository:
        class: CorredoresRiojaBundle\Controller\CarrerasController
        arguments: [@carrerarepository.inmemory,@participanterepository.inmemory,"@templating"]
    organizacionrepository:
        alias: organizacionrepository.inmemory
    organizacionrepository.inmemory:
        class: App\CorredoresRiojaInfrastructure\InMemoryRepository\InMemoryOrganizacionRepository
        public: false
    inmemory.organizacionservicerepository:
        class: CorredoresRiojaBundle\Controller\OrganizacionController
        arguments: [@organizacionrepository.inmemory,@carrerarepository.inmemory,"@templating"]
    corredoresrepository:
        alias: corredoresrepository.inmemory
    corredoresrepository.inmemory:
        class: App\CorredoresRiojaInfrastructure\InMemoryRepository\InMemoryCorredorRepository
        public: false
    corredores_user_provider:
        class : CorredoresRiojaBundle\Security\CorredorUserProvider
        arguments: ["@corredoresrepository"]
        