{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block submenu %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul>
            <li>
                <a href="/portada">Portada<br/></a>
            </li>
            <li>
                <a href="/corredores/carreras">Carreras<br/></a>
            </li>
            <li>
                <a href="/corredores/miscarreras">Mis carreras<br/></a>
            </li>

            <li><a href="/corredores/perfil">Perfil<br/></a></li>
            <li>
                <a href="/corredores/logout">Logout<br/></a>
            </li>
        </ul>
        <div style="clear: left;"></div>
    {% else %}
        <ul>
            <li>
                <a href="/portada">Portada<br/></a>
            </li>
            <li>
                <a href="/corredores/carreras">Carreras<br/></a>
            </li>
            <li>
                <a href="/corredores/miscarreras">Mis carreras<br/></a>
            </li>
            <li>
                <a href="/corredores/login">Login<br/></a>
            </li>
        </ul>
        <div style="clear: left;"></div>
    {% endif %}   
{% endblock %}