{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block submenu %}
        <ul>
          <li>
            <a href="/portada">Portada<br/></a>
          </li>
          <li>
            <a href="/corredores/carreras">Carreras<br/></a>
          </li>
          <li>
        <a href="/corredores/miscarreras">Mis carreras<br/></a>
          </li>
                    <li>
                        <a href="/corredores/login">Login<br/></a>
                      </li>
        </ul>
        <div style="clear: left;"></div>
{% endblock %}